$hcolor: red;
$hbaccolor: yellow;

$headcolor: #b0b4b9;
$gray: #4e5053;
$bodycolor: #d5d9dd;
$gradient: #48c4d4 linear-gradient(to bottom, #7fb1b8, #39a4b3);
$textshadow: 0 0 10px rgb(66, 169, 180), 0 0 20px rgb(66, 169, 180), 0 0 30px rgb(66, 169, 180), 0 0 40px rgb(66, 169, 180);
$sky: #48c4d4;
$dark: #353636; 