.main-description-wrapper {
  margin: 5px auto;
  border-radius: 10px;
}

.bread-crumbs {
  width: 70%;
  margin: auto;
  padding: 30px 0;
  font-size: 20px;
}

.product-description-container {
  width: 70%;
  margin: auto;
  border: 2px solid $sky;
  border-radius: 15px;
}

.product-description-title {
  background-color: $dark;
  font-size: 23px;
  color: $bodycolor;
  border: 2px solid $dark;
  border-radius: 12px;
  text-align: center;
  padding: 5px 0;
}

.four-column-block {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.about-product-info-block {
  margin: 20px 0;
  width: 35%;
}

.product-buy-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 25px;
}

.product-buy-button {
  background: $gradient;
  border: 1px solid $gray;
  border-radius: 5px;
  padding: 5px 5px;
  margin: 10px 0;
  text-align: center;
}

.product-price-block {
  color: $sky;
  font-size: 25px;
  text-align: center;
}

.product-info-block {
  border: 1px solid $sky;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 10px;
}

.product-info-title-block {
  background: $gradient;
  color: $bodycolor;
  border-radius: 5px;
  font-size: 19px;
  padding: 5px 0;
}

.product-info-text-block {
  font-size: 19px;
  padding: 5px 0;
}

.product-photos-block {
  display: flex;
  flex-direction: column;
  width: 15%;
  align-items: center;
  margin: 20px 0;
}

.product-photos-block img{
  cursor: pointer;
}

.product-photo-block {
  margin: 20px 0;
  display: flex;
  align-items: center;
}

.product-main-picture {
  width: 250px;
  height: auto;
  border-radius: 5px;
}