.reset-filters-button {
  width: 120px;
  padding: 5px;
  font-size: 18px;
  background: $gradient;
  color: $gray;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  border: 1px solid $gray;
}