.main-wrapper {
  display: flex;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  gap: 5px;
}

.filters {
  width: 25%;
  background: #b0b4b9;
  border: 1px solid $gray;
  border-radius: 0.7rem;
  padding: .5%;
  height: fit-content;
}

.products {
  width: 74%;
  background: #b0b4b9;
  border: 2px solid $gray;
  border-radius: 0.7rem;
  overflow: hidden;
  padding: 2px;
}

.products-sort {
  height: 40px;
  margin-bottom: .5%;
}

.products-sort,
.products-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  border: 2px solid $sky;
  border-radius: 0.7rem;;
}

.select {
  outline: 0;
  border: 0;
  padding: 0 1em;
  color: #fff;
  background: $gradient;
  cursor: pointer;
  border-radius: 1rem;
  color: $gray;
  text-align: center;
}

.found {
  color: $gray;
}

.search-bar {
  input {
    background: $gradient;
    color: $gray;
    border-radius: 2rem;
    padding: 0.2rem;
    outline: none;
    font-size: 80%;
    text-align: center;
  }
}

.products-items {
  padding: .5%;
  display: flex;
  flex-wrap: wrap;
}

.products-item {
  width: 200px;
  height: 200px;
  background-size: cover;
  border-radius: 0.3rem;
  margin: 2px;
  position: relative;
}

.card-buttons {
  position: absolute;
  bottom: 5px;
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-evenly;
  
  button {
    background: $gradient;
    border: 1px solid $gray;
    border-radius: 0.3rem;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 80%;
    cursor: pointer;
    color: $gray;
  }

  button:active {
    background: $liteGradient;
  }

}

.item-title {
  width: 100%;
  text-align: center;
  background: $gradient;
  padding: 1%;
  font-size: 90%;
  text-align: center;
  border-bottom: 1px solid $gray;
  white-space: nowrap;
  color: $gray;
  border-radius: 0.3rem 0.3rem 0 0;
}

.description-info {
  width: 55%;
  background-color: $headcolor;
  opacity: 0.8;
  border-radius: 0 0 0.4rem;
  border-bottom: 1px solid $gray;
  border-right: 1px solid $gray;
  padding: 1%;
}

.info-items {

  span {
    color: $dark;
    font-size: 12px;
  }

}